Repository joelklabo/markdowntown-cli: changes, and which Codecov flags are due for each by the changed paths.
All: Web App, CLI

fix(test): filter openat2 fallback warning on macOS/BSD
  cli/cmd/markdowntown/audit_test.go
Due: CLI

fix(test): skip file permission check on Windows
  cli/internal/config/config_test.go
Due: CLI

fix(ci): lower coverage threshold to 68% for Windows compatibility
  .github/workflows/ci.yml
Due: none

feat(cli): improve scan output and audit messages
  cli/Makefile
  cli/internal/audit/render_md.go
  cli/internal/scan/output.go
  cli/internal/scan/registry_default.go
  cli/internal/scan/types.go
  cli/testdata/golden/audit-basic.md
  cli/testdata/golden/scan.json
Due: CLI

fix(cli): improve help text and error messages
  cli/cmd/markdowntown/main.go
  cli/internal/audit/options.go
Due: CLI

fix(cli): use camelCase JSON field names in resolve output
  cli/internal/instructions/adapter.go
  cli/testdata/golden/resolve.json
Due: CLI

fix(cli): improve context TTY handling and suggest allowlist
  cli/cmd/markdowntown/context.go
  cli/data/doc-sources.json
Due: CLI

test(audit): add unit tests for extractMissingTarget
  cli/internal/audit/rules_test.go
Due: CLI

fix(registry): update Gemini CLI docs URL
  cli/data/ai-config-patterns.json
Due: CLI

feat(web): add atlas-only mode and expanded city header
  apps/web/next.config.ts
  apps/web/src/app/globals.css
  apps/web/src/app/labs/city-logo/CityLogoLabClient.tsx
  apps/web/src/app/labs/layout.tsx
  apps/web/src/components/SiteNav.tsx
  apps/web/src/lib/admin.ts
  apps/web/src/lib/flags.ts
Due: Web App

feat(web): add atlas-only mode and expanded city header (#8)
  apps/web/next.config.ts
  apps/web/src/app/globals.css
  apps/web/src/app/labs/city-logo/CityLogoLabClient.tsx
  apps/web/src/app/labs/layout.tsx
  apps/web/src/components/SiteNav.tsx
  apps/web/src/lib/admin.ts
  apps/web/src/lib/flags.ts
Due: Web App

feat(web): enhance city header with birds, clouds, and taillights
  apps/web/__tests__/components/SiteNav.test.tsx
  apps/web/__tests__/components/wordmark/sim/config.test.ts
  apps/web/next.config.ts
  apps/web/src/app/globals.css
  apps/web/src/components/SiteNav.tsx
  apps/web/src/components/wordmark/LivingCityWordmarkSvg.tsx
  apps/web/src/components/wordmark/SkyscraperWordmarkSvg.tsx
  apps/web/src/components/wordmark/sim/actors/bird.ts
  apps/web/src/components/wordmark/sim/actors/car.ts
  apps/web/src/components/wordmark/sim/actors/cloud.ts
  apps/web/src/components/wordmark/sim/actors/truck.ts
  apps/web/src/components/wordmark/sim/actors/types.ts
  apps/web/src/components/wordmark/sim/config.ts
  apps/web/src/components/wordmark/sim/engine.ts
  apps/web/src/components/wordmark/sim/skyscraperLayout.ts
  apps/web/src/components/wordmark/sim/types.ts
  apps/web/src/lib/flags.ts
Due: Web App

fix(web): correct bird and cloud proportions in city header
  apps/web/src/components/wordmark/sim/actors/bird.ts
  apps/web/src/components/wordmark/sim/actors/cloud.ts
Due: Web App

refactor: standardize all city actors to consistent unit-based sizing
  apps/web/src/components/wordmark/sim/actors/ambulance.ts
  apps/web/src/components/wordmark/sim/actors/car.ts
  apps/web/src/components/wordmark/sim/actors/pedestrian.ts
  apps/web/src/components/wordmark/sim/actors/streetlight.ts
  apps/web/src/components/wordmark/sim/actors/truck.ts
Due: Web App

feat: polish city header (review cycle 2)
  apps/web/src/components/wordmark/LivingCityWordmarkSvg.tsx
  apps/web/src/components/wordmark/sim/actors/bird.ts
  apps/web/src/components/wordmark/sim/actors/car.ts
  apps/web/src/components/wordmark/sim/actors/cloud.ts
Due: Web App

feat: final polish for city header (review cycle 3)
  apps/web/src/components/wordmark/sim/actors/ambulance.ts
  apps/web/src/components/wordmark/sim/actors/car.ts
  apps/web/src/components/wordmark/sim/actors/truck.ts
Due: Web App

Add missing dependency-review.yml configuration
  .github/dependency-review.yml
Due: none

Path conditions:
  Web App: any of: apps/web/src/**
  CLI: any of: cli/**
